extend ../layout

block content
  .profile
    div.page-header
      h1.text-center User Profile   
      h1.text-center
        small= 'Email:   ' + current_user.email

    .row
      .col-md-offset-2.col-md-8
        div.panel.panel-default
          div.panel-heading
            h3.panel-title Connected Accounts
          div.list-group
            //- Facebook
            div.list-group-item
              h4 Facebook
              - if (current_user.facebook.token)
                p= current_user.facebook.email
                a.btn.btn-danger(href="/unlink/facebook") 
                  span.fa.fa-facebook    Unlink Facebook
              - else
                a.btn.btn-primary(href="/auth/facebook") 
                  span.fa.fa-facebook    Connect Facebook
            
            //- Twitter
            div.list-group-item
              h4 Twitter
              - if (current_user.twitter.token)
                p= current_user.twitter.profile.name
                a.btn.btn-danger(href="/unlink/twitter")
                  span.fa.fa-twitter     Unlink Twitter
              - else
                a.btn.btn-info(href="/auth/twitter")
                  span.fa.fa-twitter     Connect Twitter
            
            //- Google
            div.list-group-item
              h4 Google
              - if (current_user.google.token)
                p= current_user.google.email
                a.btn.btn-danger(href="/unlink/google") 
                  span.fa.fa-google-plus     Unlink Google
              - else
                a.btn.btn-danger(href="/auth/google")
                  span.fa.fa-google-plus     Connect Google+
            
            //- Foursquare
            div.list-group-item
              h4 Foursquare
              - if (current_user.foursquare.token)
                p
                  b Name:    
                  = current_user.foursquareName()
                a.btn.btn-info(href="/unlink/foursquare") 
                  i.fa.fa-foursquare     Unlink Foursquare
              - else
                a.btn.btn-danger(href="/auth/foursquare")
                  i.fa.fa-foursquare     Connect Foursquare

            //- Github
            div.list-group-item
              h4 Github
              - if (current_user.github.token)
                p 
                  b Name:    
                  = current_user.github.profile.name
                p
                  b Login:    
                  = current_user.github.profile.login
                a.btn.btn-info(href="/unlink/github") 
                  i.fa.fa-github     Unlink Github
              - else
                a.btn.btn-danger(href="/auth/github")
                  i.fa.fa-github     Connect Github
                  
    .row
      .col-md-offset-2.col-md-8
        div.panel.panel-default
          div.panel-heading
            h3.panel-title Reset Password
          div.panel-body
            form(role='form', method='POST', action='/reset-password')
              input(type='hidden', name='_csrf', value=_csrf)
              .form-group
                label(for='current_password') Current Password
                input.form-control(name='current_password', placeholder=' Current Password')
              .form-group
                label(for='password') New Password
                input.form-control(name='password', placeholder=' New Password')
              .form-group
                label(for='password_confirmation') New Password Confirmation
                input.form-control(name='password_confirmation', placeholder=' New Password Confirmation')
              .form-group
                button.btn.btn-default Reset Password
    