extend ../layout

block content
  .profile
    h1 User Profile

    h3 Email: 
    h3= current_user.email

    - if (current_user.facebook.token || current_user.twitter.token || current_user.google.token)
      .row
        .col-md-8
          h3 Connected Accounts
          - if (current_user.facebook.token)
            h4 Facebook
            p= current_user.facebook.email
          - if (current_user.twitter.token)
            h4 Twitter
            p= current_user.twitter.username
            - if (!current_user.twitter.profile)
              a(href="/auth/twitter/profile") Get Twitter Profile
            - else
              p= current_user.twitter.profile.name
          - if (current_user.google.token)
            h4 Google
            p= current_user.google.email
          - if (current_user.foursquare.token)
            h4 Foursquare
            p= current_user.foursquareName()

    .row.text-center
      h3.text-center Connect Accounts
      - if (!current_user.facebook.token)
        a.btn.btn-primary(href="/auth/facebook") 
          span.fa.fa-facebook Facebook
      - if (!current_user.twitter.token)
        a.btn.btn-info(href="/auth/twitter")
          span.fa.fa-twitter Twitter
      - if (!current_user.google.token)
        a.btn.btn-danger(href="/auth/google")
          span.fa.fa-google-plus Google+
      - if (!current_user.foursquare.token)
        a.btn.btn-danger(href="/auth/foursquare")
          span.fa.fa-google-plus Foursquare

    .row 
      h3.text-center Reset Password
      .col-md-offset-4.col-md-4
        form(role='form', method='POST', action='/reset-password')
          input(type='hidden', name='_csrf', value=_csrf)
          .form-group
            label(for='current_password') Current Password
            input.form-control(name='current_password', placeholder=' Current Password')
          .form-group
            label(for='password') New Password
            input.form-control(name='password', placeholder=' New Password')
          .form-group
            label(for='password_confirmation') New Password Confirmation
            input.form-control(name='password_confirmation', placeholder=' New Password Confirmation')
          .form-group
            button.btn.btn-default Reset Password
    